*.as	binary
*.so	binary
* 	text=auto eol=lf
# invoke the XMT utility git_filter to perform smudge and xhist instrumentation when
# checking out into QA-owned test and release branches.
*	filter=instrumentation
