# ignore all files matching regexp patterns rooted here
.config/**
xmt_extern/**
!xmt_extern/proto
!xmt_extern/proto/**
!xmt_extern/COPYING
!xmt_extern/README.md
.svn
obj
tmp
Thumbs.db
*~
*.a
*.al
*.bak
*.cflags
*.class
cscope.*
.DS_Store
*.ERRS
*.exe
*.gcda
*.gcno
*.jar
*.la
*.ldflags
.libs
*.lo
*.log
*.map
*.o
*.out
*.pyc
__pycache__
*.pyo
*.rej
*.rel
*.so
*.so.[0-9]*
*.swp
.*.swp
*.trace
