# ignore all files matching regexp patterns rooted here
.gitattributes
.gitignore
.svn/
*/obj/
*/tgt/
*/tmp/
*/doc/
*.map
*.trace
*.bak
*.log
*.out
*.swp
ERRS.*
*.ERRS
*.rel
*.o
*.a
*.cflags
*.ldflags
*.arlags
*.class
*.exe
*.gcda
*.gcno
cscope.*
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
