# ignore all files matching regexp patterns rooted here
.svn/
*.map
*.out
*/obj/
*/tgt/
*.swp
ERRS.*
*.rel
*.o
*.a
*.cflags
*.ldflags
cscope.*
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
